<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>资产</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="../lib/layui/dist/css/layui.css" media="all">
  <link rel="stylesheet" href="../css/app.css">
</head>
<style type="text/css">
  th { background: #f8f8f8}
</style>
<body>
<div class="layout" id="app" v-cloak>
  <div class="layout-head">
    <div class="layout-head-logo">
      <img src="../img/logo.png">
    </div>
    <div class="layout-head-logout">
      <img src="../img/logo.png" class="user-head">
      <a class="user-logout" style="cursor:pointer" onclick="userLogout()">退出登录</a>
    </div>
    <div class="layout-head-menu">
      <ul class="layui-nav">
        <li class="layui-nav-item">
          <a href="./market.html">行情交易</a>
        </li>
        <li class="layui-nav-item">
          <a href="./big-deal.html">大宗交易</a>
        </li>
        <li class="layui-nav-item layui-this">
          <a href="asset_browse.html">我的资产</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="layout-bd">
    <div class="layout-side asset">
      <ul class="asset-menu">
        <li class="asset-menu-item">
          <a href="" class="link">
            <span class="shu-icon"></span>
            我的账户
          </a>
          <ul>
            <li class="asset-menu-item second ">
              <a href="./asset_browse.html" class="link">
                <span class="kuai-icon"></span>
                账户总览
              </a>
            </li>
            <li class="asset-menu-item second">
              <a href="./asset.html" class="link">
                <span class="kuai-icon"></span>
                我的持仓
              </a>
            </li>
            <li class="asset-menu-item second active">
              <a href="" class="link">
                <span class="kuai-icon"></span>
                我的抢购
              </a>
            </li>
          </ul>
        </li>
        <li class="asset-menu-item" >
          <a href="" class="link">
            <span class="shu-icon"></span>
            其他
          </a>
          <ul>
            <li class="asset-menu-item second" v-if="isChild">
              <a href="./children.html" class="link">
                <span class="kuai-icon"></span>
                子账户
              </a>
            </li>
            <li class="asset-menu-item second">
              <a href="./edit_password.html" class="link">
                <span class="kuai-icon"></span>
                修改密码
              </a>
            </li>
            <!--<li class="asset-menu-item second">
              <a href="http://dshb-cdn.mtq.tvm.cn/static/release/html/tvhTD_lovetime/tuwen/56/1e/3e/935B3G9MAA_1.html" target="_blank" class="link">
                <span class="kuai-icon"></span>
                帮助及规则
              </a>
            </li>-->
          </ul>
        </li>
      </ul>
    </div>
    <div class="layout-main">
      <div class="assets-list">
        <div class="list-table">
            <div class="list-table-bd" style="height: 400px;overflow:auto;" ref="orderScroll" v-on:scroll.passive="orderScroll">
            <table class="layui-table order-table" lay-skin="line">
              <colgroup>
                <col>
                <col>
                <col>
              </colgroup>
              <thead>
              <tr>
                <th>时间</th>
                <th>名称/代码</th>
                <th>数量（秒）</th>
                <th>抢购结果</th>
              </tr>
              </thead>
              <tbody>

              <tr v-for="item in list">
                  <td>{{getDate(item.create_timestamp)}}</td>
                  <td>{{item.commodity_name}}<br/>{{item.commodity_code}}</td>
                  <td>
                    {{item.count}}
                  </td>
                  <td><span v-if="item.status === 1">等待结果</span>
                      <span v-else>成功抢到{{item.winningcount}}秒</span>
                  </td>
              </tr>
              <tr v-if="list.length==0">
                <td colspan="4">暂无数据</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../lib/layui/dist/layui.all.js" charset="utf-8"></script>
<script src="../lib/host.js"></script>
<script src="../lib/vue/vue.min.js" charset="utf-8"></script>
<script src="../modules/common.js"></script>
<script>
  // 超过1w以万为单位 留2位小数
  Date.prototype.format = function (format) {
    var o = {
      'M+': this.getMonth() + 1, // month
      'd+': this.getDate(), // day
      'h+': this.getHours(), // hour
      'm+': this.getMinutes(), // minute
      's+': this.getSeconds(), // second
      'q+': Math.floor((this.getMonth() + 3) / 3), // quarter
      'S': this.getMilliseconds() // millisecond
    }

    if (/(y+)/.test(format)) {
      format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length))
    }

    for (var k in o) {
      if (new RegExp('(' + k + ')').test(format)) {
        format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ('00' + o[k]).substr(('' + o[k]).length))
      }
    }
    return format
  }
  function getDate (timeStamp) {
    return new Date(timeStamp).format('yyyy/MM/dd hh:mm:ss')
  }
  window.$ = layui.$
  var app5 = new Vue({
    el:"#app",
    data(){
    return {
      loading: false,
      list:[],
      timestamp:0,
      limit:10,
      isChild:true
    }
  },
  mounted:function(){
    this.init()
  },
  methods: {
    init: function init() {
      var event=this;
      checkLogin(function() {
        event.lists()
        app5.isChild=user.isChild ? false : true;
      })
    },
    lists() {
      getList(this.timestamp).then(order => {
        if (order.length > 0) {
        order.forEach(element => {
          this.list.push(element)
      })
      }
      if (order.length < this.limit) {
        return
      }
    })
    },
    getMoreInfo() {
      var _this = this
      getList(_this.timestamp).then(order => {
        if (order.length > 0) {
        order.forEach(element => {
          _this.list.push(element)
      })
      }
      if (order.length < this.limit) {
        return
      }
      _this.loading = false
    })
    },
    trigger(dom, cb) {
      var height = dom.clientHeight
      var scrollTop = dom.scrollTop
      var scrollHeight = dom.scrollHeight
      if (scrollTop + height + 20 > scrollHeight) {
        cb && cb()
      }
    },
    orderScroll() {  //加载更多
      var _this = this
      var dom = this.$refs.orderScroll
      this.trigger(dom, function () {
        console.log(_this.loading)
        if (_this.loading === true) {
          return
        }
        _this.loading = true
        _this.timestamp = _this.list[_this.list.length - 1].create_timestamp || 0
        _this.getMoreInfo()

      })
    },
  }
  })
  // 获取股票列表
  function getList(timestamp) {
    var data = {
      timeStamp:timestamp,
      tvmid:user.tvmid
    }
    return $.get(`${HOST.server}/stock/buyList`,data).then(predeal)
  }


  function  getLine(event){
    $(event).parents(".ivu-dropdown").children(".ivu-select-dropdown").toggle()
  }
</script>
</body>
</html>
